<div class="container m-3">
  <h1>Edit a task</h1>
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.label :completed %>
    <%= f.check_box(:completed, {}, "True", "False") %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Back to index", tasks_path %>
</div>
